{% extends 'common_code/base.html' %}
{% load static %}
{% block css1 %}<link rel="stylesheet" href="{% static 'css/aSite.css' %}">{% endblock css1 %}

{% block title %}character {% endblock title %}

{% block content1 %}

<section class="intro">
    <div class="gradient-custom-1 h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive bg-white">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Regions</th>
                      <th scope="col">Best For</th>
                      <th scope="col">Ratings</th>
                      <th scope="col">Trail</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><a href="https://9anime.to/" target="_blank" style="color: #e7b5d8;">9Anime</a></th>
                      <td>All major regions</td>
                      <td>Free Old and New Anime Streaming</td>
                      <td>4/5</td>
                      <td>None</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="https://gogoanime.cl/" target="_blank" style="color: #e7b5d8;">Gogoanime</a></th>
                      <td>All Major reasons</td>
                      <td>Free Anime Streaming</td>
                      <td>3.5/5</td>
                      <td>None</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="https://zoro.to/home" target="_blank" style="color: #e7b5d8;">Zoro</a></th>
                      <td>All Major reasons</td>
                      <td>Free Old and New Anime Streaming</td>
                      <td>4.7/5</td>
                      <td>None</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="https://animefreak.video/home/" target="_blank" style="color: #e7b5d8;">AnimeFreak</a></th>
                      <td>All major regions</td>
                      <td>Free Streaming of Anime Online</td>
                      <td>3/5</td>
                      <td>None</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="https://www.amazon.com/Prime-Video-Anime-Movies-TV/s?rh=n%3A2858778011%2Cp_n_theme_browse-bin%3A2650364011&language=en_US&linkCode=sl2&linkId=87e42b10792348ac547e26556fc77de9&tag=softtesthelp-20&ref=as_li_ss_tl" target="_blank" style="color: #e7b5d8;">Amazon Anime</a></th>
                      <td>All major regions</td>
                      <td>Online Marketplace for Anime related content.</td>
                      <td>5/5</td>
                      <td>One month</td>
                      <td>$139/year</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="https://www.crunchyroll.com/" target="_blank" style="color: #e7b5d8;">Crunchyroll</a></th>
                      <td>180+ countries</td>
                      <td>Anime and Manga store for fans</td>
                      <td>5/5</td>
                      <td>14 Day</td>
                      <td>$7.99/$9.99</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="https://www.funimation.com/" target="_blank" style="color: #e7b5d8;">Funimation</a></th>
                      <td>US, UK, Canda</td>
                      <td>Premium original anime content</td>
                      <td>5/5</td>
                      <td>14 DAY</td>
                      <td>$5.99/$99.99</td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="https://kaas.am/" target="_blank" style="color: #e7b5d8;">KickAssAnimes</a></th>
                      <td>All major regions</td>
                      <td>Free Old and New Anime Streaming</td>
                      <td>4.5/5</td>
                      <td>None</td>
                      <td>Free</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content1 %}