{% extends 'common_code/base.html' %}
{% load static %}
{% block css1 %}<link rel="stylesheet" href="{% static 'css/char.css' %}">{% endblock css1 %}

{% block title %}character {% endblock title %}

{% block content1 %}
<div class="container-fluid">
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="column-2 px-2 mb-r">
  
      <!--Card-->
      <div class="card default-color-dark h-100">
  
        <!--Card image-->
        <div class="view">
            <div class="ratio ratio-21x9">
                <img src="{% static 'images/char/goku.jpg' %}" class="card-img-top" alt="...">
            </div>
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Goku (Dragon Ball)</h4>
          <!--Text-->
          <p class="card-text white-text">Goku is the main protagonist of the Dragon Ball series. He is a Saiyan warrior known for his incredible strength and unwavering determination to protect Earth from powerful adversaries. Goku's iconic spikey hair and his ability to transform into Super Saiyan have made him one of the most recognizable anime characters worldwide.</p>
          <a href="https://myanimelist.net/character/246/Gokuu_Son" target="_blank" class="btn btn btn-secondary btn-md">More On MAL</a>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column-1 px-2 mb-r">
  
      <!--Card-->
      <div class="card primary-color-dark h-100">
  
        <!--Card image-->
        <div class="view">
            <div class="ratio ratio-21x9">
                <img src="{% static 'images/char/luffy.jpg' %}" class="card-img-top" alt="...">
            </div>
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Monkey D. Luffy (One Piece)</h4>
          <!--Text-->
          <p class="card-text white-text">Luffy is the captain of the Straw Hat Pirates in the One Piece series. He possesses a rubber-like body after eating a Devil Fruit, granting him incredible elasticity and strength. Luffy is characterized by his trademark straw hat, carefree personality, and his quest to find the legendary treasure, One Piece.</p>
          <a href="https://myanimelist.net/character/40/Luffy_Monkey_D" target="_blank" class="btn btn btn-secondary btn-md" style="margin-top: 20px;">More On MAL</a>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column-1 px-2">
  
      <!--Card-->
      <div class="card warning-color-dark h-100">
  
        <!--Card image-->
        <div class="view">
            <div class="ratio ratio-21x9">
                <img src="{% static 'images/char/light.jpg' %}" class="card-img-top" alt="...">
            </div>
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Light Yagami (Death Note)</h4>
          <!--Text-->
          <p class="card-text white-text">Light Yagami is the main character of the psychological thriller anime Death Note. He discovers a mysterious notebook that allows him to kill anyone by writing their name in it. Light, with his cunning intellect and desire to create a perfect world, becomes a controversial and captivating protagonist.</p>
          <a href="https://myanimelist.net/character/80/Light_Yagami" target="_blank" class="btn btn btn-secondary btn-md" style="margin-top: 20px;">More On MAL</a>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->

    
  
  </div>
  <!-- Grid row -->
</div>


<!-- Second row -->

<div class="container-fluid" style="margin-top: 15px;">
    <div class="row">
        <!-- Grid column -->
        <div class="column-1 px-2">

        <!--Card-->
        <div class="card warning-color-dark h-100">

            <!--Card image-->
            <div class="view">
                <div class="ratio ratio-21x9">
                    <img src="{% static 'images/char/naruto.jpg' %}" class="card-img-top" alt="...">
                </div>
                <a href="#">
            <div class="mask rgba-white-slight"></div>
                </a>
        </div>

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title white-text">Naruto Uzumaki (Naruto)</h4>
            <!--Text-->
            <p class="card-text white-text">Naruto is the titular character of the Naruto series. He is a young ninja with a dream to become the Hokage, the strongest ninja in his village. Naruto is known for his boundless energy, orange jumpsuit, and his powerful ability to harness the Nine-Tailed Fox spirit within him.</p>
            <a href="https://myanimelist.net/character/17/Naruto_Uzumaki" target="_blank" class="btn btn btn-secondary btn-md" style="margin-top: 15px;">More On MAL</a>
        </div>

        </div>
        <!--/.Card-->

        </div>
        <!-- Grid column -->

            <!-- Grid column -->
    <div class="column-1 px-2 mb-r">
  
        <!--Card-->
        <div class="card primary-color-dark h-100">
    
          <!--Card image-->
          <div class="view">
            <div class="ratio ratio-21x9">
                <img src="{% static 'images/char/spike.jpg' %}" class="card-img-top" alt="...">
            </div>
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title white-text">Spike Spiegel (Cowboy Bebop)</h4>
            <!--Text-->
            <p class="card-text white-text">Spike is the lead character of the space western anime Cowboy Bebop. He is a former hitman turned bounty hunter, known for his cool demeanor, martial arts skills, and sharpshooting abilities. Spike's tragic past and laid-back attitude make him a beloved and complex character.</p>
            <a href="https://myanimelist.net/character/1/Spike_Spiegel" target="_blank" class="btn btn btn-secondary btn-md" style="margin-top: 15px;">More On MAL</a>
          </div>
    
        </div>
        <!--/.Card-->
    
      </div>
      <!-- Grid column -->


          <!-- Grid column -->
    <div class="column-1 px-2 mb-r">
  
        <!--Card-->
        <div class="card primary-color-dark h-100">
    
          <!--Card image-->
          <div class="view">
            <div class="ratio ratio-21x9">
                <img src="{% static 'images/char/lelouch.jpg' %}" class="card-img-top" alt="...">
            </div>
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title white-text">Lelouch Lamperouge (Code Geass)</h4>
            <!--Text-->
            <p class="card-text white-text">The protagonist of Code Geass, is a strategic genius and exiled prince seeking revenge against a tyrannical empire. With the power of Geass, he can command anyone to obey him. Lelouch orchestrates an elaborate rebellion, employing his intellect and charisma to challenge the world's order, all while navigating complex personal relationships and moral dilemmas.</p>
            <a href="https://myanimelist.net/character/417/Lelouch_Lamperouge" target="_blank" class="btn btn btn-secondary btn-md" style="text-align: end;">More On MAL</a>
          </div>
    
        </div>
        <!--/.Card-->
    
      </div>
      <!-- Grid column -->

    </div>
</div>

{% endblock content1 %}