{% extends 'common_code/base.html' %}
{% load static %}
{% block css1 %}<link rel="stylesheet" href="{% static 'css/sgt.css' %}">{% endblock css1 %}
{% block title %}Contact Us {% endblock title %}

{% block content1 %}

<h2 style="text-align: center; margin-top: 20px; color: rgb(45, 48, 48);">Contact Us</h2>
<div class="d-flex justify-content-center">
    
    <form action="" method="POST" novalidate>
        {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Submit">
    </div>
    </form>
    
</div>
{% endblock content1 %}