{% extends 'common_code/base.html' %}
{% load static %}
{% block css1 %}<link rel="stylesheet" href="{% static 'css/mSite.css' %}">{% endblock css1 %}

{% block title %}character {% endblock title %}

{% block content1 %}

<section class="intro">
    <div class="gradient-custom-2 h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-dark table-bordered mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Supported Platforms</th>
                      <th scope="col">Notable Titles</th>
                      <th scope="col">Working</th>
                      
                      <th scope="col">Link</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Comixology</th>
                      <td>Web, Android, iOS, Windows</td>
                      <td>Lone Wolf and Cub, Attack on Titan, Fairy Tail, The Seven Deadly Sins, Love Hina.</td>
                      <td>Yes</td>
                      
                      <td><a href="https://www.amazon.com/comixology" target="_blank" style="color: #e7b5d8;">View Site</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Crunchyroll</th>
                      <td>Web, Android, iOS</td>
                      <td>Attack on Titan, Fairy Tail, The Seven Deadly Sins.</td>
                      <td>Yes</td>
                      
                      <td><a href="https://www.crunchyroll.com/comics/manga" target="_blank" style="color: #e7b5d8;">View Site</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Manga Plus</th>
                      <td>Web, Android, iOS</td>
                      <td>Agravity boys, Ayakashi Traingle, Beast Children.</td>
                      <td>Yes</td>
                      
                      <td><a href="https://mangaplus.shueisha.co.jp/manga_list/all" target="_blank" style="color: #e7b5d8;">View Site</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Viz</th>
                      <td>Web, Android, iOS</td>
                      <td>My Hero Academia, One-Punch Man, The Legend of Zelda.</td>
                      <td>Yes</td>
                      
                      <td><a href="https://www.viz.com/read" target="_blank" style="color: #e7b5d8;">View Site</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Bato</th>
                      <td>Web, Android, iOS</td>
                      <td>Assorted Wildness, Hardcore Vanila, Leveling My Husband, Untouchable lady.</td>
                      <td>Yes</td>
                      
                      <td><a href="https://bato.to/" target="_blank" style="color: #e7b5d8;">View Site</a></td>
                    </tr>
                    <tr>
                      <th scope="row">MangaReader</th>
                      <td>Web, Android, iOS</td>
                      <td>Can found almost all manga.</td>
                      <td>Yes</td>
                      
                      <td><a href="https://mangareader.to/home" target="_blank" style="color: #e7b5d8;">View Site</a></td>
                    </tr>
                    <tr>
                      <th scope="row">TCB Scans</th>
                      <td>Web, Android, iOS</td>
                      <td>One piece, One-Punch Man, Ao Ashi, Kaiju no. 8, Call of the Night.</td>
                      <td>Yes</td>
                      
                      <td><a href="https://ww1.tcbscans.org/" target="_blank" style="color: #e7b5d8;">View Site</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content1 %}