{% extends 'common_code/base.html' %}
{% load static %}
{% block css1 %}
<link rel="stylesheet" href="{% static 'css/movies.css' %}">

{% endblock css1 %}

{% block content1 %}
  <!--Grid Start-->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2><p class="midTitle" style="text-shadow: 5px 4px 3px rgb(184, 187, 187);">Some Great Action Series</p></h2>
      </div>
    </div>
  </div>
  <!--Grid End-->
<!--First Row-->
<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/1.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">One Punch Man</h5>
                    <p class="card-text">Saitama, a superhero who can defeat any enemy with a single punch, seeks excitement and purpose in a world filled with powerful adversaries.
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/2.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Naruto</h5>
                    <p class="card-text">A young ninja named Naruto aims to become the strongest ninja in his village, facing powerful enemies and uncovering his true destiny.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/3.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Bleach</h5>
                    <p class="card-text">Ichigo Kurosaki, a teenager with the ability to see ghosts, becomes a Soul Reaper tasked with protecting humanity from evil spirits.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/4.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Dragon Ball Z</h5>
                    <p class="card-text">Join Goku and his allies as they defend Earth from powerful extraterrestrial threats, engaging in intense martial arts battles.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/5.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Fullmetal Alchemist: Brotherhood</h5>
                    <p class="card-text">Two brothers embark on a quest to find the Philosopher's Stone, encountering alchemy, conspiracy, and dark forces.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/6.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Demon Slayer: Kimetsu no Yaiba</h5>
                    <p class="card-text"> A young demon slayer named Tanjiro fights against demons while searching for a cure to turn his sister back into a human.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/7.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Fate/stay night: Unlimited Blade Works</h5>
                    <p class="card-text">In a battle royale, mages summon heroic spirits to fight for the ultimate prize: the Holy Grail.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/8.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">My Hero Academia</h5>
                    <p class="card-text"> In a world where almost everyone has superpowers, a young boy trains to become a hero and protect the innocent.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/9.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">JoJo's Bizarre Adventure</h5>
                    <p class="card-text">Generations of the Joestar family use their unique abilities to battle supernatural threats across different time periods.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- First Row End -->


  <!--Grid Start-->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2><p class="midTitle" style="text-shadow: 5px 4px 3px rgb(184, 187, 187);">Some Great Sci-fi Series</p></h2>
      </div>
    </div>
  </div>
  <!--Grid End-->
<!-- Second Row -->

<div id="carouselExampleControls1" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/10.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Steins;Gate</h5>
                    <p class="card-text">A group of eccentric scientists discovers the ability to send messages to the past, leading to a thrilling race against time to prevent impending disasters.
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/11.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Ghost in the Shell: Stand Alone Complex</h5>
                    <p class="card-text">Set in a future where cybernetic enhancements are the norm, a team of elite agents investigates crimes involving advanced technology.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/12.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Neon Genesis Evangelion</h5>
                    <p class="card-text">In a post-apocalyptic world, teenagers pilot giant robots to defend humanity against mysterious and powerful beings known as Angels.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/13.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Psycho-Pass</h5>
                    <p class="card-text">In a dystopian society, a group of law enforcement officers uses a powerful system to detect individuals with criminal intentions.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/14.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Cowboy Bebop</h5>
                    <p class="card-text"> Follow the misadventures of a bounty hunter and his eclectic crew aboard their spaceship, chasing elusive targets across the galaxy.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/15.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Code Geass: Lelouch of the Rebellion</h5>
                    <p class="card-text"> Lelouch, a young genius, obtains the power to control minds and orchestrates a rebellion against a powerful empire.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/16.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Serial Experiments Lain</h5>
                    <p class="card-text"> Lain, a socially isolated girl, becomes entangled in a series of mysteries and conspiracies involving the Wired, a virtual realm.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/17.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Attack on Titan</h5>
                    <p class="card-text">Humanity battles giant humanoid creatures known as Titans, as a group of young warriors fights to reclaim their world.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/18.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Gurren Lagann</h5>
                    <p class="card-text">In an underground village, two friends unearth a giant robot and embark on a journey to the surface, facing formidable enemies.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Second Row End -->


  <!--Grid Start-->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2><p class="midTitle" style="text-shadow: 5px 4px 3px rgb(184, 187, 187);">Some Great Adventures Series</p></h2>
      </div>
    </div>
  </div>
  <!--Grid End-->
<!-- Third Row -->

<div id="carouselExampleControls2" class="carousel" data-bs-ride="carousel" style="margin-bottom: 70px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/19.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">One Piece</h5>
                    <p class="card-text">Follow the adventures of Monkey D. Luffy and his pirate crew as they search for the ultimate treasure, the One Piece.
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/20.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Hunter x Hunter</h5>
                    <p class="card-text">A young boy named Gon aspires to become a Hunter, a prestigious title that brings adventure, danger, and discovery.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/21.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Avatar: The Last Airbender</h5>
                    <p class="card-text">In a world divided into elemental nations, a young boy with the power to control all elements embarks on a journey to save his world.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/22.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Fairy Tail</h5>
                    <p class="card-text">Join the members of the Fairy Tail Guild, a group of mages with diverse abilities, as they embark on exciting quests and face powerful adversaries.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/23.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">The Promised Neverland</h5>
                    <p class="card-text">A group of orphans discovers the horrifying truth behind their peaceful orphanage and plans a daring escape.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/24.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Mushishi</h5>
                    <p class="card-text">Ginko, a wandering traveler, encounters mystical creatures known as Mushi and explores their influence on the human world.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/25.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">The Rising of the Shield Hero</h5>
                    <p class="card-text">Summoned to a parallel world, a hero with the power of a legendary shield must navigate political intrigue and battle to save the realm.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/26.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Magi: The Labyrinth of Magic</h5>
                    <p class="card-text">Follow Aladdin and his friends as they explore dungeons, obtain magical artifacts, and unravel the secrets of the world.</p>
                    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card h-100">
                <div class="img-wrapper"><img src="{% static 'images/series/27.jpg' %}" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">Made in Abyss</h5>
                    <p class="card-text">A young girl and her robot friend venture into a treacherous, mysterious abyss in search of her missing mother.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Third Row End -->



<!--
<table class="table table-bordered">
    <tr>
        
        <th>Title</th>
        <th>Describtion</th>
        <th>Ratings</th>
    </tr>
    {% for i in srs %}
        <tr>
            
            <td>{{i.series_name}}</td>
            <td>{{i.series_des}}</td>
            <td>{{i.series_rating}}</td>
        </tr>
    {% endfor %}
</table>
-->

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
{% endblock content1 %}